{% extends "JRsBlogBundle::layout.html.twig" %}
{% block title %} О нас{% endblock %}
{% block body %}
    <header>
        <h1>JRs blog</h1>
    </header>
    <article>
        <p>
            Юзвер пытающийся вызубрить Симфони)))
        </p>
    </article>
{% endblock %}